/*
  Typography CSS
*/

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-dark);
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;

  &:hover {
    color: var(--secondary);
  }
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
}

img {
  height: auto;
}
